@import '../../colors.scss';


.name-dictionary a {
	font-family: "Zen Dots", cursive;
	font-size: 16px;
}

.pop {
	cursor: pointer;
	color: $accent-color;
}

.label {
	flex-grow: 4;
}

.form {
	display: flex;
	padding: 4px;
}

.input {
	border: 1px solid $accent-color;
	outline: none;
	padding: 2px;
	transition: 0.3s;
	font-size: 18px;
	display: block;
	width: 100%;

	&:hover {
		border: 1px solid $second-color;
	}

	&:active {
		border: 1px solid red;
	}

	&:focus {
		border: 1px solid rgb(0, 247, 255);
	}
}