.table {
	border-collapse: collapse;
	margin: auto;
	width: 100%;

	& tr {
		&:nth-child(2) td {
			border: none;
		}
	}

	& th {
		border-bottom: 1px solid black;
	}

	& th,
	td {
		font-size: 20px;
		line-height: 26px;
	}

	& td {
		border: 1px solid black;
		border-top: none;
		padding-left: 10px;

	}

	& legend {
		font-size: 26px;
	}

	&__link-add {
		display: inline-block;
		padding: 5px;
		font-size: 16px;
		margin-bottom: 15px;
	}

	&__container-form {
		text-align: center;
		margin: 10px 0;
	}
}


.opacity {
	opacity: 0.1;
}